/cmake-build-debug/2_new.exe
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-10f04ec78194d112b72a.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d17c6d11281b5743e74f.json
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-c65283fc3b9312f952cc.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-07-27T05-58-40-0514.json
/cmake-build-debug/CMakeFiles/2_new.dir/main.cpp.obj
/cmake-build-debug/.cmake/api/v1/reply/target-2_new-Debug-c548050680d3bdf8b06c.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ef669a6bf39b807b58b6.json
/cmake-build-debug/CMakeFiles/3.28.6/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.28.6/CompilerIdCXX/a.exe
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-2b64ff44e9368d862511.json
/cmake-build-debug/CMakeFiles/3.28.6/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.28.6/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.28.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.28.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e3b5a8a04fc97ed879ee.json
/cmake-build-debug/CMakeFiles/3.28.6/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.6/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/reply/index-2024-08-11T13-08-41-0709.json
